html
    head
        title my project
        link(rel="stylesheet" href="./css/style.min.css")

    body
         .navbar
          a(href="index.html" id="logo")
          nav
            ul
              li: a(href="#") HOME
              li: a(href="hireme.html") HIRE ME
              li: a(href="#" id="login") LOGIN
                form.login
                   span UserName 
                   input(type="text",name="UserName") 
                   span Password 
                   input(type="Password",name="Password")
         .blog
           p  
            
    footer
      p &copy; all rights to DreamTeckie@2017
       script(type="text/javascript" src="./js/jquery.min.js")
       script(type="text/javascript" src="./js/bundle.min.js")
